body {
    font-family: proxima-nova, sans-serif;
}

.header {
    background-color: #CF0058;
    height: 157px;
}

.carousel img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 525px;
    max-height: 525px;
    width: auto;
}

.nav-spacer {
    display: block;
    padding: .5rem 1rem;
    color: #CF0058;
}
h1{
    color: #CF0058;
}
h2{
    line-height: 80%;
}

section p{
    text-align: left;
}
#clip{
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
section{
    display: grid;
   
    text-align: center;
}
.left{
    height: 100%;
    width: 50%;
    float: left;
    padding: 2%;
}
.right{
    height: 100%;
    width: 50%;
    float: right;
    padding: 2%;
}
@media screen {
    
}




























.ignore-me-only-for-colours {
    color: #CF0058;
    color: #292929;
}