.header {
    background-color: #CF0058;
    height: 157px;
}

.carousel img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 525px;
    max-height: 525px;
    width: auto;
}

.nav-spacer {
    display: block;
    padding: .5rem 1rem;
    color: #CF0058;
}





























.ignore-me-only-for-colours {
    color: #CF0058;
    color: #292929;
}